
body{
    background-color: blueviolet;
    font-family: "Playwrite GB S", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgb(29, 185, 14), rgb(157, 20, 220));
    min-height: 100dvh;
}
h1{
    font-size: 3.4rem;
    margin: 0;
}
figure{
    zoom: 16;
    margin: 0;
}
h2{
    margin: 0;
}